#notification {
  background: lightgrey;
  color: green;
  border: solid green;
  border-radius: 4px;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#error {
  background: lightgrey;
  color: red;
  border: solid red;
  border-radius: 4px;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#blog-box {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
}

#blog-box > div {
  padding: 2px;
}
